@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.dave {
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}
